<!DOCTYPE html>

<head>
  <title>Splay Trees</title>
  <style>
    body {
      font-size: 30px;
    }
  </style>
</head>

<body>

  <h1 style="text-align:left-align">What's a Splay Tree?</h1>
  <p >A binary search tree wherein the more you search something the faster it gets to search it
    Accomplished by moving a searched object closer to the root position while maintaining the binary search tree.
    Done by using a series of moves called zigs and zags
  Searched object always moves 2 spaces closer to the root with each search
  </p>

  <h1 style="text-align:left-align">What's a zig and zag?</h1>
  <ul>
    <li>These are Rotations of a binary tree
      <ul>
        <li>Zig - Rotates to the right Ex. x becomes parent of y, y becomes right child of x, and x's former right child becomes y's left child</li>
        <li>Zag - Rotates to the left Ex. y becomes parent of x, x becomes left child of y, and y's former left child becomes x's right child</li>
      </ul>
    </li>
    <li>Used when searched node is a child of the root</li>
  </ul>
  <img src="static/one.JPG">


  <h1 style="text-align:left-align">What's a zig-zig and zag-zag?</h1>
  <ul>
    <li>Combination of 2  moves, used when the searched node has a parent and a grandparent
      <ul>
      <li>Zig-Zig - two consecutive right rotations left-aligned on the grand parent then parent, done when the searched node is the left child of the parent and the parent is the left of the GP</li>
      <li>Zag-Zag - two consecutive left rotations left-aligned on the grand parent then parent, done when the searched node is the right child of the parent and the parent is the right of the GP</li>
      </ul>
    </li>
  </ul>
  <img src="static/two.JPG">

  <h1 style="text-align:left-align">Zag-Zig and Zig-Zag</h1>
  <ul>
    <li>The combinations used for the other cases: left child of parent but parent is the right child of GP and right child of parent but parent is left child of GP
      <ul>
      <li>Zig-Zag - LC of P and RC of GP - You Zig on the Parent then Zag on the GP</li>
      <li>Zag-Zig - RC of P and LC of GP - You Zag on the Parent then Zig on the GP</li>
      </ul>
    </li>
  </ul>
  <img src="static/three.JPG">

  <h1 style="text-align:left-align">Now Let's talk about Splaying</h1>
  <ul>
    <li>Splaying is using the aforementioned Zig, Zag, Zig-Zig, Zag-Zag, Zig-Zag,and Zag-Zig rotations on a node</li>
    <li>You splay after a search, after inserting a new node, and before deleting a node</li>
    <li>Also after each splay the splay tree will become more balanced, but note: A splay tree doesn't need to be balanced it only has to be a BST</li>
  </ul>
  <p>Ex: Splaying after searching</p>
  <img src="static/four.JPG">


  <h1 style="text-align:left-align">Insertion & Deletion</h1>
  <h2>Insertion</h2>
  <ul>
    <li>If BST is empty create the new node as the root and you are finished</li>
    <li>If not then insert the node as you would normally in a BST</li>
    <li>Proceed to splay the new node</li>
  </ul>
  <h2>Deletion</h2>
  <ul>
    <li>Splay target node until its at the root</li>
    <li>Proceed to remove the node as you would normally in a BST</li>
  </ul>

  <h1 style="text-align:left-align">Some O(n) details and Typical applications</h1>
  <ul>
    <li>All operations on average run in O(logn) on average</li>
    <li>And in worse case O(n)</li>
  </ul>
  <p>Some things they're used in include:</p>
  <ul>
    <li>Windows NT (in the virtual memory, networking, and file system code)</li>
    <li>The gcc compiler and GNU C++ library</li>
    <li>The sed string editor</li>
    <li>Fore Systems network routers</li>
    <li>Unix malloc</li>
    <li>Linux loadable kernel modules</li>
    <li>And you can use em for a cool search algorithm</li>
  </ul>






</body>



</html>
